.rebar3
_*
!/_checkouts
_checkouts/*
!_checkouts/erlfmt
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
/src/erlfmt_parse.erl
.DS_Store