{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps, [erlfmt]}.
{escript_main_app, erlfmt}.
{escript_name, erlfmt}.
{escript_emu_args, "%%! +sbtu +A0 -noinput -mode minimal\n"}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.
{artifacts, ["{{profile_dir}}/bin/erlfmt"]}.

%% Put the canonical escript version in a well-known place
{post_hooks, [
    {escriptize, "sh -c 'test -f ../_build/test/bin/erlfmt && cp ../_build/test/bin/erlfmt bin/erlfmt || true'"},
    {clean, "rm -f bin/erlfmt"}
]}.

%% Profiles
{profiles, [
    {test, [{erl_opts, [debug_info]}]}
]}.
