{erl_opts, [debug_info]}.
{deps, [
    getopt,
    providers
]}.

{escript_incl_apps, [erlfmt]}.
{escript_main_app, erlfmt}.
{escript_name, erlfmt}.
{escript_emu_args, "%%! +sbtu +A0 -noinput -mode minimal\n"}.

{plugins, [erlfmt]}.

{provider_hooks, [
    {pre, [
        {ct, escriptize}
    ]}
]}.

{dialyzer, [
    {plt_extra_apps, [providers]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info]}
    ]},
    {test, [
        {deps, [{proper, "1.3.0"}]}
    ]}
]}.

% This is a hack so that erlfmt can use itself as a plugin
% leveraging _checkouts. The override is to break the infinite loop
{overrides, [{override, erlfmt, [{plugins, []}]}]}.
